/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.idea
.byebug_history
public/static/
app/views/web/welcome/index.html
npm-debug.log
node_modules
.vscode
secrets.env

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
