!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title Обедер
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500&subset=cyrillic,cyrillic-ext,latin-ext", :rel => "stylesheet"}/
    %link{:href => "/static/css/app.07fb05ccf7b017087b38a332e68953a4.css", :rel => "stylesheet"}/
    %link{:href => "/static/css/styles.06885e67cba7dfb07e0b8c471397f37f.css", :rel => "stylesheet"}/
  %body
    #app
    %script{:src => "/static/js/manifest.a7e013ab2f91c529a1c2.js", :type => "text/javascript"}
    %script{:src => "/static/js/app.aecaae6cfe749a89507d.js", :type => "text/javascript"}
    %script{:src => "/static/js/styles.133e2afedbc311ef6cb1.js", :type => "text/javascript"}
    %script{:src => "/static/js/fetch.83b9cf5f5707aad51eb4.js", :type => "text/javascript"}
