.row
  %br
  .row.well
    - closest_days_menus = Menu.closest_days_menus(@menu.date)
    - col_index = col_index(closest_days_menus)
    - closest_days_menus.each do |menu|
      %div{ class: "col-md-#{col_index}" }
        %b{ style: 'padding-left: 20px' }
          = l menu.date, format: :menu_date
        %ul
          - menu.menu_dishes.each do |menu_dish|
            %li
              = dish_name(menu_dish)
