.row.text-center
  %span.btn.btn-default{ data: { toggle: 'collapse', target: '#closest-days-menus__container' },
                         aria: { expanded: 'false', controls: 'closest-days-menus__container' } }
    = t('.closest_days_menus_btn')
  #closest-days-menus__container.collapse.text-justify
    %br
    .row.well
      - col_index = @closest_days_menus.col_index
      - @closest_days_menus.each do |menu|
        %div{ class: "col-md-#{col_index}" }
          %b{ style: 'padding-left: 20px' }
            = l menu.date, format: :menu_date
          %ul
            - menu.menu_dishes.each do |menu_dish|
              %li
                = menu_dish.dish_name(t('.default'))
