.nested-fields
  .row
    .col-md-2
      = f.input :default, label: 'По умолчанию'
    .col-md-7
      = f.input :dish_id, as: :select, collection: @dishes, label_method: :name, label: false
    .col-md-3.text-right
      = link_to_remove_association 'Удалить блюдо', f, class: 'btn btn-danger'
